<!DOCTYPE html>
<html lang="ko">
      <head>
      {% include 'head.html' %}
      </head>
      <body>
      {% include 'navbar.html' %}
            <div class="container" id="thiss">
                  <div class="mx-auto" style="width: 100%; text-align: center;">
                        <br><br>
                        <h1 id="title-text">기기를 찾을 수 없습니다.</h1>
                        모델명을 제대로 입력하셨는지 체크해주세요.<br><br>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <span style="color:gray;">PDL / BINX / Update.zip 서버 지원 : 미니서버 </span><br>
                  <span style="color:gray;">본 사이트는 GNU General Public License v3.0 라이선스를 준수합니다.</span><br>
                  <span style="color:gray;">Copyright 2020. VegaProject. All rights reserved. </span><br>
            </div>
            
      </body>
</html>