<!DOCTYPE html>
<html lang="ko">
      <head>
      {% include 'head.html' %}
      </head>
      <body>
      {% include 'navbar.html' %}
            <div class="container" id="thiss">
                  <div class="mx-auto" style="width: 100%; text-align: center;">
                        <br><br>
                        <h1 id="title-text">{{ name }} - {{ model }}</h1>
                        아래 버튼을 클릭하여 다운로드 하세요.<br><br>
                        <img src="{{ image }}" class="img-fluid" style="width:30%;"><br>
                        <br><br>
                        {% if binx != '' %}
                              <a href="{{ binx }}" download=""><button id ="binx" type="submit" class="btn btn-info">BINX - {{ binxversion }}</button></a>
                        {% endif %}
                        {% if pdl != '' %}
                              <a href="{{ pdl }}" download=""><button id ="pdl" type="submit" class="btn btn-info">PDL - {{ pdlversion }}</button></a>
                        {% endif %}
                        {% if update.zip != '' %}
                              <a href="{{ update }}" download=""><button id ="update" type="submit" class="btn btn-info">Update.zip - {{ zipversion }}</button></a>
                        {% endif %}
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <span style="color:gray;">PDL / BINX / Update.zip 서버 지원 : 미니서버 </span><br>
                  <span style="color:gray;">본 사이트는 GNU General Public License v3.0 라이선스를 준수합니다.</span><br>
                  <span style="color:gray;">Copyright 2020. VegaProject. All rights reserved. </span><br>
            </div>
            
      </body>
</html>