 <nav class="navbar navbar-expand navbar-dark bg-info">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='logo.png') }}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://cafe.naver.com/skyplanet" target="_blank">팬택플레닛<span class="sr-only">팬택플레닛</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://file.mnsv.best/" target="_blank">미니서버<span class="sr-only">미니서버</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://pantech.kongjak.com/" target="_blank">Kongjak Server<span class="sr-only">Kongjak Server</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://imholic.com:8081/webman/index.cgi" target="_blank">IMHolic<span class="sr-only">IMHolic</span></a>
            </li>
        </ul>
    </div>
</nav>
